<c-modal
  [keyboard]="false"
  [transition]="false"
  backdrop="static"
  alignment="center"
  class="position-static d-block show"
  id="modalStatic"
>
  @if(isModalHeader){
  <c-modal-header>
    <div>
      <h5 cModalTitle>{{ modalTitle }}</h5>
      <p>{{ modalSubTitle }}</p>
    </div>
    @if(isCloseButton){
    <button cButtonClose></button>
    }
  </c-modal-header>
  }

  <c-modal-body class="text-center">
    <ng-content select="[slot='modal-body']"></ng-content>
  </c-modal-body>
  @if(isModalFooter){
  <c-modal-footer>
    <button cButton color="secondary">Close</button>
    <button cButton color="primary">Save changes</button>
  </c-modal-footer>
  }
</c-modal>
