<div class="app-default-template">
  <form [formGroup]="templateForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title</label>
      <input
        id="title"
        formControlName="title"
        class="form-control"
        placeholder="Enter title"
        type="text"
      />
      @if(templateForm.get('title')?.invalid && templateForm.get('title')?.touched) {
      <div class="text-danger">Title is required</div>
      }
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        id="description"
        formControlName="description"
        class="form-control"
        placeholder="Enter description"
      ></textarea>
      @if(templateForm.get('description')?.invalid && templateForm.get('description')?.touched) {
      <div class="text-danger">Description is required</div>
      }
    </div>

     <div formArrayName="questions" class="app-default-template_questions">
      @for(question of questions.controls; track question.value; let questionInx = $index) {
      <div class="app-default-template_question-container">
        <div [formGroupName]="questionInx" class="form-group app-default-template_question">
          <label for="question-{{ questionInx }}">Question {{ questionInx + 1 }}:</label>

          @if(questionInx > 0) {
          <app-button (click)="removeQuestion(questionInx)">
            <svg [cIcon]="icons.cilDelete" size="lg" title="Delete"></svg>
          </app-button>
          }

          <input
            id="question-{{ questionInx }}"
            formControlName="question"
            class="form-control"
            placeholder="Enter question"
            type="text"
          />
          @if(question.get('question')?.invalid && question.get('question')?.touched) {
          <div class="text-danger">Question is required</div>
          }

           <div formArrayName="answers">
            @for(answer of getAnswerControls(questionInx); track answerIdx; let answerIdx = $index) {
             <div class="form-group">
              <label for="answer-{{ questionInx }}-{{ answerIdx }}">Option {{ answerIdx + 1 }}</label>
              <c-form-check>
                <input cFormCheckInput id="radio-{{ questionInx }}-{{ answerIdx }}" [value]="true"  [checked]="question.get('correctAnswerIndex')?.value === answerIdx" (change)="setCorrectIndex(questionInx, answerIdx)" type="radio" name="correctAnswerIndex{{questionInx}}"/>
              </c-form-check> 
                <input
                id="answer-{{ questionInx }}-{{ answerIdx }}"
                formControlName="{{answerIdx}}"
                class="form-control"
                placeholder="Enter option"
                type="text"
              /> 
              @if(answer.invalid && answer.touched) {
              <div class="text-danger">Option {{ answerIdx + 1 }} is required</div>
            } 
            </div> 
            }
          </div> 
        </div>
      </div>
      }
    </div> 


    <div class="app-default-template_plus-button">
      <app-button (buttonClick)="addQuestion()" [disabled]="templateForm.invalid">
        <svg [cIcon]="icons.cilPlus" size="lg" title="Plus"></svg>
      </app-button>
    </div>
    
    <div class="app-default-template_submit-button-container">
      <button type="submit" class="btn btn-primary" [disabled]="templateForm.invalid">Submit</button>
    </div>
  </form>
</div>
